<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
    <li><a th:href="@{/variables/string/} + 'Hola Andrés'">/variables/string/Hola Andrés</a></li>
    <li><a th:href="@{/variables/string/} + 'Hola que tal John'">/variables/string/Hola que tal John</a></li>
    <li><a th:href="@{/variables/string/} + 'Como estás Andrés' + '/' +7">/variables/string/Como estás Andrés/7</a></li>
    <li><a th:href="@{/variables/string/} + ${'Como estás Eduardo'} + '/' + ${'7'}">/variables/string/Como estás Eduardo/7</a></li>
</ul>
</body>
</html>